
.nav-item{
	color:#fff ;
}
.navbar-nav .nav-link{
	color: rgb(255, 255, 255);
}
.nav-item .nav-link{
	color: white;
}

.navbar-brand1{
	text-decoration: none;
	color: #fff;
}

.nav-link{
	color:white;
}
.nav-item{
	color:#fff ;

}